.button {
    min-width: 50px;
    min-height: 50px;
    box-shadow: 5px 5px 5px lightgray,
    -5px -5px 5px lightgray,
    5px -5px 5px lightgray,
    -5px 5px 5px lightgray;
    background-color: beige;
    border-radius: 5px;
    color: #06485a;
    margin: 10px;
}
