.blogContainer {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    margin-top: 8px;
    text-align: center;
}

.content {
    margin-top: 8px;
    height: 100%;
}

.dateposted {
    position: absolute;
    right: 0;
}

.categories {

}