@import './styles.scss';

.App {
  display       : flex;
  flex-direction: column;

  .header {
    position: fixed;
    top: 50px;
    text-align: center;
    width: 100%;
    color: $text-color-primary;
    font-size: 32px;
    font-weight: bold;
  }

  .fit-picture {
    width: 100%;
  }

  .formContainer {
    display       : flex;
    flex-direction: column;
    margin: 0 48px;

    .searchButton {
      align-self     : center;
      display        : flex;
      justify-content: space-around;
      text-align     : center;
      width          : 50%;
      position: absolute;
      bottom: 15px;
    }

    .flightNumber {

      input {
        text-transform: uppercase;
        color         : $text-color-primary;
        font-size     : 14px;
        font-weight   : bold;
      }
    }
  }



  @media screen and (max-width: $medium-max) {
    .header {
      top: 18px;
      font-size: 16px;
    }

    .formContainer {
      margin: 4px;

      .searchButton {
        width: calc(100% - 18px);
        margin: 0;
      }
    }
  }
}